*{
    color: #0b0c10;
    /* rgb(38,80,119)*/
    color: #1f2833;
    /* rgb(2,33,64)*/
    color: #c5c6c7;
    /* rgb(73,75,104)*/
    color: #66fcf1;
    /* rgb(30,66,88)*/
    color: #45a29e;
    /* rgb(45,95,93)*/
}