
/*-------------------------DEFAULT SETUP----------------------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'lato', sans-serif;
    font-size: 20px;
    color: darkgray;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    background-image:linear-gradient(45deg,rgba(15, 24, 22, 0.8) 45%,rgba(93, 102, 102, 0.85)), url("../img/backgr.jpg");
}
body{
    overflow-x: hidden;
}
/*------------------sticky-------------*/
.sticky{
    background-color: #882c25;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 70px;
}



/*-------------------------REUSABLE COMPONENT-------------------------------*/
.btn{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 30px;
    border-radius: 20px;
    width: 190px;
    margin: 0 20px;
    display: inline-block;
    text-align: center;
    transition: all 2s;

}

.btn:hover,
.btn:active{
    background-color:red;
}
.clearfix::after{
    content: " ";
    display:table ;
    clear: both;
}
.row{
    width: 1140px;
    margin: 0 auto;
}
h1,h2,h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 10px;
    color:red;
    margin-bottom: 50px;

}
h2{
    text-align: center;
    font-size: 180%;
    font-weight: 700;
    color: red;
    margin-bottom: 20px;
}
h2::after{
    display: block;
    content: " ";
    width: 150px;
    height: 3px;
    background-color: red;
    margin: 0 auto;
    margin-top: 5px;

}
h3{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color:rgb(170, 14, 14);
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: white;
    margin-bottom: 20px;
}
.small-icon{
    color: red;
}
.p-long{
    text-align: center;
    color: rgb(225, 97, 65);
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 30px;
    width:70%;
    margin-left: 15%;
    line-height: 140%;
}
section{
    padding: 50px;
}

/*--------------------------Header-----------------------------------------*/
header{
    
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.logo{
    width: 120px;
    float: left;
    margin-left: 120px;
    margin-top: 30px;
    
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.main-nav li{
    display: inline-block;
    margin-right: 30px;
    
}
.main-nav li a{
    text-decoration: none;
    color:red;
    transition: border-bottom 0.5s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid;
}

.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-55%);
    width: 1140px;
}
/*---------------------------About US----------------------------*/
.about-picture{
    position: relative;
    
}
.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c72419;
    box-shadow: 0px 5px 15px 5px #c72419;
    /*chinh do mo` cua border */
    /*filter: brightness(100%)blur(1px);*/ 
    transition: all 1s;
    margin-top: 50px;
}
.picture-title{
    color: aquamarine;
    top: 50%;
    left:50%;
    transform: translate(-65%,100%);
    position: absolute;
    opacity: 0;
    transition: all 1s;

}
.about-picture:hover img,
.about-picture:active img{
    filter: brightness(55%)blur(2px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%,-55%);
    opacity: 1;
}
/*----product-section---------------*/

.Products-section h2{
    margin-bottom: 50px;
}
.Product-box{
    background-color:black;
    box-shadow: 3px 5px 10px rgb(184, 19, 19);
    width: 90%;
    height: 350px;
}
.product-price{
    font-size: 250%;
    color: rgb(175, 26, 26);
    font-weight: 300;
    text-align: center;
}
.product-price span{
    font-size: 80%;
}
.Product-box ul li{
    margin-left: 20%;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(155, 20, 20);
}
.Product-box .btn{
    margin-left: 20%;
}

/*-----------------Contract----------------*/
.info{
    list-style: none;
    color:white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 95%;
}
.info .small-icon{
    color: rgb(212, 41, 41);
}
.info .small-icon:hover,
.info .small-icon:active{
    transform: scale(1.3);
}
.social{
    margin-top: 50px;
    color: #c72419;
    list-style: none;
}
.social li{
    display: inline-block;
    margin-left: 20px;
    font-size: 250%;
}
.social li i{
    transition: all .3s;
    cursor: pointer;
}
.social  li i:hover,
.social  li i:active{
    transform: scale(1.3);
}
/*-------------------------form-------*/
form{
    background-color: rgba(0, 0, 0, .4);
    margin-left: 20%;
    width: 80%;
    padding: 20px;
}
label{
    font-size: 100%;
    color:red;
}
input,textarea{
    outline: none;
    padding: 10px;
    background-color: rgba(48,47,47, 0.3);
    border: 1px solid rgba(29, 28, 28, 0.8);
    cursor: pointer;
    border-radius: 5px;

}
textarea{
    resize: none;
    height: 100px;
}
input{
    height: 50px;
}


footer{
    text-align: center;

    color: #ffffff;
    padding: 15px;
    
}
